<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="card">
      <div class="imgBX">
        <%= image_tag 'profile.jpg', height:"500px", width:"400px" %>    
      </div>
      <div class="details">
        <h2>Someone Famous</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur praesentium
          deserunt vel, dolorum et laboriosam quae fugit explicabo dignissimos necessitatibus,
          atque neque, fugiat quia impedit! Assumenda, aliquid nam. Ducimus?
        </p>
      </div>
    </div>
  </div>
</div>