<!-- le conteneur fenêtre -->

	<div class="marquee-rtl">
	<!-- le contenu défilant -->
		<div>Legendes: <i class="fab fa-github"></i> Code Repository | <%= image_tag'heroku.png'%> Production sur Heroku | <%= image_tag'user.png'%> User Stories (Modèle). | <%= image_tag'bsd.png'%> Schema de base de donnée (Example). | <%= image_tag'trello.png'%> Dashboard RoadMap avec Trello (Modèle). | <%= image_tag'figma.png'%>Prototypage sur Figma (Example). | Login: recruteur@gmail.fr | Mdp:Pbxk1064 | </div>
</div>
