<!-- le conteneur fenêtre -->
<div class="marquee-rtl">
		<!-- le contenu défilant -->
	<div>|<i class="fab fa-github" id="icon-git-banner"></i> Code | <%= image_tag'heroku.png',class:'btn-cards-heroku',id:'icon'%> Production (démarage: 20s). | <%= image_tag'user.png', id:'icon'%> User Stories (Modèle). | <%= image_tag'bsd.png',id:'icon'%> Schéma de BSD (Example). | <%= image_tag'trello.png',id:'icon'%> Dashboard Road Map avec Trello (Modèle). | <%= image_tag'figma.png',id:'icon'%> Prototypage sur Figma (Example). | Login: recruteur@gmail.fr | Mdp:Pbxk1064 | Merci de votre visite. </div>
</div>

