<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/",id: "icon", class: "navbar-brand" do %>
    <%= image_tag "logo.png", class:"logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", "/profile", class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "/contact", class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <% if current_user. == User.first %>
          <%= image_tag 'avatar.png',class: "avatar-bordered", alt: "avatar-bordered" %>
        <% else %>
          <%= image_tag 'avatar.jpg',class: "avatar-bordered", alt: "avatar-bordered" %>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Contact", "/contact", class: "nav-link btn btn-ghost  mt-1"%>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", "/profile", class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-ghost mt-1" %>
        </li>
        <%= image_tag 'avatar.png',class: "avatar-bordered", alt: "avatar-bordered" %>
      <% end %>
    </ul>
  </div>
</div>
