<%= render 'shared/banner' %>
<div class="container-flex">
  <div class="cards">
   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631278053/portfolioV1.2_va5nqu.png)">
      <div class="container">
        <h2>Parentally</h2>
        <a class="btn-cards-heroku" href="#" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="#" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631278053/portfolioV1.2_va5nqu.png)">
      <div class="container">
        <h2>PortfolioV1.2</h2>
        <a class="btn-cards-heroku" href="#" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/Rubyportfolio" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <div class="container">
        <h2>Ohicook</h2>
        <a class="btn-cards-heroku" href="#" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/ohicook" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>    
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631277311/My_street_view_x1ujsb.png)">
      <div class="container">
        <h2>My city View</h2>
        <a class="btn-cards-heroku" href="https://my-street-view.herokuapp.com/" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/My_Street_View" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>   
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1620747795/home_page_munt8f.png)">
      <div class="container">    
        <h2>Location Property</h2>
        <a class="btn-cards-heroku" href="https://location-property-andy.herokuapp.com" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/location_property" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>   
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631277311/Computers_shop_pkblg6.png)">
      <div class="container">
        <h2> Computer Shop</h2>
        <a class="btn-cards-heroku" href="https://computers-shop.herokuapp.com" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/computer_shop" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1631277313/PortfolioBanner_xgwtuj.png)">
      <div class="container">  
        <h2> PortfolioV1.1</h2>
        <a class="btn-cards-git" href="https://andyrama.github.io/Portfolio" target="new" id="git-io"><i class="fab fa-github"></i></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/portfolio" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div> 
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631277312/My_garden_Manager_bnv58n.png)">
      <div class="container">
        <h2> Garden Manager</h2>
        <a class="btn-cards-heroku" href="https://garden-manager-bordeaux.herokuapp.com/" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/rails-garden-manager" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631286913/My_cave_rzznio.png)">
      <div class="container">
        <h2> My Cave</h2>
        <a class="btn-cards-heroku" href="https://andycave.herokuapp.com" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/andycave" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631286884/Mister_cocktails_girily.png)">
      <div class="container">
        <h2> Mister Cocktails</h2>
        <a class="btn-cards-heroku" href="https://cocktail-le-wagon-sapporo.herokuapp.com" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/rails-mister-cocktail" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1631286951/Rbnb_qbtdeb.png)">
      <div class="container">
        <h2> Airbnb Clone</h2>
        <a class="btn-cards-heroku" href="https://rails-simple-airbnb.herokuapp.com" target="new"> <%= image_tag 'heroku.png' %></a>   
        <a class="btn-cards-git" href="https://github.com/AndyRama/rails-clone-airbnb" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <div class="container">
        <h2>Quovery</h2>
         <a class="btn-cards-git" href="#o" id="git-io"><i class="fab fa-github" target="new"></i></a>  
        <a class="btn-cards-git" href="https://github.com/AndyRama/Quovery" target="new"><i class="fab fa-github"></i></a>
        <a class="btn-cards-chevron fas fa-chevron-right" href="#"></a>   
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>