<%= render 'shared/banner' %>
<div class="container-flex mt-3">
  <div class="cards">
    <% @projects.each do |project| %>
      <div class="card-category mb-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= project.photo %>)">
        <div class="container">
          <span><%= project.category %></span>
          <h2 id="name"><%= project.name %></h2>
          <div class="footer-card">
            <a class="btn-cards-heroku" href="<%= project.heroku %>" target="new"> <%= image_tag 'heroku.png' %></a>   
            <a class="btn-cards-git" href="<%= project.git %>" target="new"><i class="fab fa-github"></i></a>
            <%= link_to '', project, class:"btn-cards-chevron fas fa-chevron-right" %>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>
<%= render'shared/navbar-info' %>
<%= render 'shared/footer' %>
