<%= render 'shared/banner' %>
<%= render'shared/navbar-info' %>
<div class="container-flex mt-3">
  <div class="cards">
    <% @projects.each do |project| %>
      <div class="card-category mb-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= project.photo %>)">
        <div class="container">
          <span><%= project.category %></span>
          <h2 id="name"><%= project.name %></h2>
          <div class="footer-card">
            <a class="btn-cards-heroku" href="<%= project.heroku %>" target="new"> <%= image_tag 'heroku.png' %></a>   
            <a class="btn-cards-git" href="<%= project.git %>" target="new"><i class="fab fa-github"></i></a>
            <%= link_to '', project, class:"btn-cards-chevron fas fa-chevron-right" %>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>
  <!-- about section start -->
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">Experiences passées </h2>
      <div class="about-content">
        <div class="column left">
          <%= image_tag 'profile.jpg' %>
        </div>
        <div class="column right">
          <div class="text">Je suis un<span> Développeur Fullstack</span></div>
           <p> Issu d'un BTS en système électronique, j'ai travaillé pour la société <strong> Bio Medical Electronique
            </strong> dans différents services, pendant 5 ans (S.A.V, Service de Production et Bureau d'Etudes).En 
            2013, j'ai entrepris une reconversion en informatique en tant que technicien réseau télécommunication.
            J'ai travaillé au DSI de l'hôpital de Libourne pendant 6 mois où j'ai découvert le fonctionnement d'un 
            service informatique, la maintenance et l'administration de réseau étendu.Par la suite, j'ai créé une 
            entreprise de support ainsi que de vente de matèriel informatique pour des professionnelles et
            particuliers. Installation, mise en service, dépannage, assistance utilisateurs (hotline niv 1). 
            En octobre 2020 je rejoins cette formation afin de développer mes connaissances dans ce domaine avec
            <strong>le Wagon </strong> de Bordeaux. Je suis capable de créer une application Web basée avec une base 
            donnée et avec une bonne UX. Avoir un bon design et intégrer une A.P.I. Travailler dans une équipe 
            avec un workflow tel que Git & GitHub. Déployer un projet pour le mettre en production.
           </p>
        </div>
      </div>
    </div>
  </section>
  <!-- services section start -->
  <section class="competences" id="competences">
    <div class="max-width">
      <h2 class="title">Competences</h2>
      <div class="comp-content">
        <div class="card">
          <div class="box">
            <i class="fas fa-code"></i>
            <div class="text">Front</div>
            <p>HTML & CSS <br> Javascript 6<br> DOM & EVENT <br> HTTP & AJAX</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-cubes"></i>
            <div class="text">Rails</div>
            <p>Routing, Controllers & Views<br> Models & CRUD<br> Advanced Routing <br>Hosting & Image Upload</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-project-diagram"></i>
            <div class="text">Projets</div>
            <p>WebSocket & ActionCable <br> Background Jobs with Sidekiq <br> DB Advanced & API<br> Testing in Rails</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-database"></i>
            <div class="text">DB</div>
            <p>Schema Design & SQL <br> CRUD with SQL <br> Active record Basics<br> Association & Validation </p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <!-- <img src="images/Web Design-595b40b85ba036ed117db87b.svg"alt=""> -->
            <i class="fas fa-paint-brush"></i>
            <div class="text">Design</div>
            <p>Design Sofware: Figma <br> UI / UX design <br> Users stories<br>Wireframeming </p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-cogs"></i>
            <div class="text">Basic tools</div>
            <p>OS: Windows, Linux UBUNTU <br> Text edidor: VS code <br>Terminal: Powershell, GitBash</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
  <div class="max-width">
    <div class="contact-content">
    <h2 class="title">Contacter moi</h2>
      <div class="column left">
        <div class="text">Actuellement disponible</div>
        <p>Je recherche un poste de developer web en ruby pour intégrer une équipe afin
          d'acquérir plus d'expèrience.N'hésiter pas à me contacter pour
          tout renseignement.</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
              <div class="head">Name</div>
              <div class="sub-title">Ramaroson Andy</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
              <div class="head">Adresse</div>
              <div class="sub-title">Bordeaux, France</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="head">Email</div>
              <div class="sub-title">andyramaroson@gmail.com</div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
              <i class="fab fa-linkedin"></i>
              <div class="info">
                <div class="head">Linkedin</div>
                <a href="https://www.linkedin.com/in/andy-ramaroson" target="blank">
                <div class="head">www.linkedin.com/in/andy-ramaroson</div></a>
              </div>
            </div> -->
        <!-- <div class="row">
            <i class="fab fa-github"></i>
            <div class="info">
              <div class="head">GitHub</div>
              <a href="https://github.com/AndyRama" target="blank">
              <div class="head">https://github.com/AndyRama</div></a>
            </div>
          </div> -->
      <!-- </div> -->
      <!-- <div class="column right">
        <div class="text">Message </div>
        <form action="#">
          <div class="fields">
            <div class="field name">
              <input type="text" placeholder="Nom" required>
            </div>
            <div class="field email">
              <input type="text" placeholder="Prénom" required>
            </div>
          </div>
          <div class="field">
            <input type="text" placeholder="Email" required>
          </div>
          <div class="field">
            <input type="text" placeholder="Sujet" required>
          </div>
          <div class="field textarea">
            <textarea cols="30" rows="10" placeholder="Message ... " required></textarea>
          </div>
          <div class="button">
            <button type="submit">Envoyer</button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<%= render 'shared/footer' %>
