<div class="cont-block portfolio-content">
  <div class="fixed">
    <div class="fixed-1150">
      <div class="cont-box">
        <div class="flex-slider">
          <div><img src="<%= @project.photo %>" width="1300" height="900" alt=""/></div>
          <div class="project-slider">
          </div>
        <div>
        <h1 class="title-project"><%= @project.name %></h1>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
              <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
                <div class="text-title-second">DEMO LIVE:</div>
              <a class="btn-cards-heroku" href="<%= @project.heroku %>" target="new"> <%= image_tag 'heroku.png' %></a>
              <a class="btn-cards-git" href="<%= @project.git %>" target="new"><i class="fab fa-github"></i></a>   
            </div>
          </div> 
        </div>
        <div class="fixed-910">
          <div class="flex-text">
            <div class="text">
              <div class="text-title">Challenge</div>
                <p>The objective of this app is to provide parents with the ability to allocate the time necessary to look
                   after kids, schedule events using a calendar, and track events in the app activity history.Additionally,
                   the app would allow parents to schedule homework during the time spent with their kids and to share expenses
                   for various activities.
                </p>
              </div>
              <div class="text">
                <div class="text-title">Result achieved</div>
                   <p>The objective of this app is to provide parents with the ability to allocate the time necessary to look
                   after kids, schedule events using a calendar, and track events in the app activity history.Additionally,
                   the app would allow parents to schedule homework during the time spent with their kids and to share expenses
                   for various activities.
                </p>
                </div>
              </div>
              <div class="project-data">
              <div>
                <div class="pd-title">CLIENT'S LOCATION:</div>
                  USA
              </div>
              <div>
                <div class="pd-title">TECHNOLOGIES:</div>
                  React.Native, Node.js, HTML5/CSS                               
              </div>
              <div>
                <div class="pd-title">PLATFORM:</div>
                  Mobile, WEB                          
              </div>
            </div>
        <div class="flex-slider">
            <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-user"><%= image_tag'user.png'%> Code</h1>
          <a class="btn-cards-user" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716870/User_Stories_lnx4ky.png" target="new"></a>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
            <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
          </div>
          <div class="text-title-second">DURATION:</div>
        </div> 
        </div>
       <div class="flex-slider">
            <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-user"><%= image_tag'user.png'%> Users stories</h1>
          <a class="btn-cards-user" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716870/User_Stories_lnx4ky.png" target="new"></a>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
            <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
          </div>
          <div class="text-title-second">DURATION:</div>
        </div> 
        </div>
          <div class="flex-slider">
            <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-user"><%= image_tag'user.png'%> Users stories</h1>
          <a class="btn-cards-user" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716870/User_Stories_lnx4ky.png" target="new"></a>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
            <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
          </div>
          <div class="text-title-second">DURATION:</div>
        </div> 
        </div>
        <div class="flex-slider">
          <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-bsd"><%= image_tag'bsd.png'%> Schema DB</h1>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
            <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
          </div>
          </div> 
        </div>
        <div class="flex-slider">
          <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-trello"><%= image_tag'trello.png'%> Trello</h1>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
            <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
          
          </div>
          </div> 
        </div>
        <div class="flex-slider">
          <div class="project-slider">
            <div><img src="https://lvivity.com/wp-content/uploads/2019/07/fp1.jpg" width="1300" height="900" alt=""/></div>
          </div>
        <div>
        <h1 class="title-project btn-cards-figma"><%= image_tag'figma.png'%> Figma</h1>
        <div class="text-project"></div>
          <div class="text">
            <div class="text-title"></div>
              <p>It is a mobile app allowing divorced parents to map out their time necessary to look after kids in common. Using the Family Plan App, divorced parents can make a schedule that organizes how their kids will spend time with each of them. </p>
               
            </div>
          </div> 
        </div>
        <div class="shortcode-contact">
          <div>Want to start a project? It’s simple. Contact us to discuss the details and we’ll tell you how we can help you.
            <a href="https://lvivity.com/contact" class="sc-link" target="" rel="">Contacter moi</a>  
          </div>                         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<