<%= render'shared/banner-project' %>
<section class="about" id="about">
  <div class="max-width">
  <h2 class="title"><%= @project.name %></h2> 
    <div class="about-content">
      <div class="column left">
      <%= image_tag 'pitch.jpg' %>
      </div>
      <div class="column right">
        <div class="text"><span>Objectif</span></div> 
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
          look after kids in common. Using the Family Plan App, divorced parents can make 
          It is a mobile app allowing divorced parents to map out their time necessary to
          look after kids in common. Using the Family Plan App, divorced parents can make 
          a schedule that organizes how their kids will spend time with each of them. 
        </p>
        <p>
          <div class="text"><span>Mvp</span></div>
          It is a mobile app allowing divorced parents to map out their time necessary to
          look after kids in common. Using the Family Plan App, divorced parents can make 
          a schedule that organizes how their kids will spend time with each of them. 
          look after kids in common. Using the Family Plan App, divorced parents can make 
          a schedule that organizes how their kids will spend time with each of them. 
        </p>
          <a class="btn btn" target="blank" href="<%= @project.heroku %>"><%= image_tag 'heroku.png' %>Demo</a>
          <a class="btn btn" target="blank" href="<%= @project.git %>"><i class="fab fa-github"></i> Code</a>
          <%= link_to 'Back', projects_path, class:"btn btn" %>
      </div>
    </div>
  </div>
  <br>
    <br>
   <div class="max-width">
      <h2 class="title">Road Map</h2> 
    <div class="about-content">
      <div class="column left">
        <%= image_tag 'roadmap1.jpg' %>
      </div>
      <div class="column right">
        <div class="text"><span>Users Stories</span></div>
          <p>It is a mobile app allowing divorced parents to map out their time necessary to
            look after kids in common. Using the Family Plan App, divorced parents can make 
          </p>
          <div class="text"><span>Schema DB</span></div>
          <p>
            look after kids in common. Using the Family Plan App, divorced parents can make.
            It is a mobile app allowing divorced parents to map out their time necessary to
          </p> 
          <div class="text"><span>Dashboard</span></div>
          <p>ook after kids in common. Using the Family Plan App, divorced parents can make   
            It is a mobile app allowing divorced parents to map out their time necessary to</p> 
          <a class="btn btn" href="#">User stories</a>
          <a class="btn btn" href="#">Schema DB</a>
          <a class="btn btn" href="#">Dashboard</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="max-width">
    <h2 class="title">Stack techno.</h2>
    <div class="about-content">
      <div class="column left">
        <%= image_tag 'stack.jpg' %>
      </div>
      <div class="column right">
        <div class="text"><span>Ruby on Rails</span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
          look after kids in common. Using the Family Plan App, divorced parents can make 
          a schedule that organizes how their kids will spend time with each of them.
          It is a mobile app allowing divorced parents to map out their time necessary to
          It is a mobile app allowing divorced parents to map out their time necessary to  
          look after kids in common. Using the Family Plan App, divorced parents can make </p>   
        </p>
        <a class="btn btn">Rails</a>
        <a class="btn btn">Ruby2.6.6</a>
        <a class="btn btn">JS</a>
        <a class="btn btn">API</a>
        <a class="btn btn">SCSS</a>
        <a class="btn btn">PostgreSQL</a>
        <a class="btn btn">Git/GitHub</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="max-width">
    <h2 class="title">Conclusion</h2>  
    <div class="about-content">
      <div class="column left">
        <%= image_tag @project.photo ,class:'img-project'%>
      </div>          
      <div class="column right">
        <div class="text"><span>Challenge</span></div>
          <p>It is a mobile app allowing divorced parents to map out their time necessary to
            look after kids in common. Using the Family Plan App, divorced parents can make 
            a schedule that organizes how their kids will spend time with each of them.
          </p>
        <div class="text"><span>Resultat </span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
        </p>
        <div class="text"><span>Amélioration potentielle</span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make
           a schedule that organizes how their kids will spend time with each of them.    
        </p>
          <a class="btn btn" target="new" href="<%= @project.heroku %>"><%= image_tag 'heroku.png' %>Demo</a>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>
 