<div class="container-project">
<main>
<div class="card-category mb-0" id='project'style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @project.photo %>)"></div>
  <div class="container-project py-4">


    <div class="p-5 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= @project.name %></h1>
        <p class="col-md-8 fs-4"> a series of utiUsinglities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <a class="btn-cards-user" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716870/User_Stories_lnx4ky.png" target="new"><%= image_tag'user.png'%></a>
        <a class="btn-cards-bsd" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716489/schemaDB_a9yccu.png" target="new"><%= image_tag'bsd.png'%></a>   
        <a class="btn-cards-trello" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716491/Trello_bk4jgf.png" target="new"><%= image_tag'trello.png'%></a>  
        <a class="btn-cards-figma" href="https://res.cloudinary.com/dbtnehfrf/image/upload/v1631716490/Figma_lsabs5.png" target="new"><%= image_tag'figma.png'%></a>
          <a class="btn-cards-heroku" href="<%= @project.heroku %>" target="new"> <%= image_tag 'heroku.png' %></a>   
            <a class="btn-cards-git" href="<%= @project.git %>" target="new"><i class="fab fa-github"></i></a>
      </div>
      </div>
    </div>

  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Challenge</h2>
          <p>A cloud infrastructure revolution against high costs, low utilization, and multi-cloud complexity across legacy and cloud native workloads.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Result achieved</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
       <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Result achieved</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
     <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Challenge</h2>
          <p>A cloud infrastructure revolution against high costs, low utilization, and multi-cloud complexity across legacy and cloud native workloads.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
    </div>
</main>